img {
  border-color: #E8BC7C;
  border-radius: 50%;
  border-style: solid;
  border-width: 8px;
  height: 250px;
  width: 250px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}

.about-information {
  margin-left: 50px;
  width: 700px;
}