.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  margin-top: 150px;
  text-align: center;
  height: 65px;
  width: 50%;
  font-family: "poppins", sans-serif;
}

.copyright {
  font-family: "poppins", sans-serif;
  background-color: #e8bc7c;
  display: flex;
  margin-bottom: 100px;
  height: 77px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
