.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content {
  font-family: "poppins", sans-serif;
  height: 65px;
  margin-top: 150px;
  text-align: center;
  width: 50%;
}

.copyright {
  align-items: center;
  background-color: #e8bc7c;
  display: flex;
  font-family: "poppins", sans-serif;
  height: 77px;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}