/* import fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital@0;1&display=swap");

body {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  align-items: center;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo a {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  margin-left: 10px;
  padding-left: 10px;
}

.nav-bar-items ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-bar-items li {
  display: block;
  font-family: "poppins", sans-serif;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem;
  transition: 0.3s;
}

.nav-bar-items li:hover {
  background-color: #e8bc7c;
  transition: 0.3s;
}

.toggle-button {
  display: none;
  flex-direction: column;
  height: 21px;
  justify-content: space-between;
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  width: 30px;
}

.toggle-button .bar {
  background-color: white;
  border-radius: 10px;
  height: 3px;
  width: 100%;
}

@media (max-width: 1000px) {
  .toggle-button {
    display: flex;
  }

  .nav-bar-items {
    display: none;
    width: 100%;
  }

  .navbar {
    align-items: flex-start;
    flex-direction: column;
  }

  .nav-bar-items ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-bar-items li {
    text-align: center;
  }

  .nav-bar-items li a {
    padding: 0.5rem 1rem;
  }

  .nav-bar-items.active {
    display: flex;
  }
}